body {
    font-family: sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.filters-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter {
    display: flex;
    flex-direction: column;
}

.filter label {
    margin-bottom: 5px;
    font-size: 14px;
}

.filter select, #reset-filters {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#reset-filters {
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
    align-self: flex-end; /* Align with the bottom of the select inputs */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
}

.chart-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.data-source-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.data-source-container h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.data-source-container p {
    text-align: center;
    margin: 10px 0;
}

.data-source-container a {
    color: #007bff;
    text-decoration: none;
}
